* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #c694ee;
    --secondary-color: #f162ff;
    --tertiary-color: #ffffff;
    --quaternary-color: #9932cc;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}
/* begin header section */
header {
    padding: 20px 35px;
    background-color:var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    z-index: 9999;
    
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color:var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


header a {
    text-decoration: none;
    color: var(--primary-color);
}

header a:hover {
    border-bottom: ridge var(--primary-color);
    border-radius: 10%;
    text-shadow: none;
    border-collapse: separate;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
   
}

header nav ul li a:hover {
    text-shadow: none;
    border-collapse: separate;
    border-bottom: ridge var(--primary-color);
    border-radius: 10%;
 
}
/* end header section */

/* begin hero section */
.hero {
    background-image: url(../images/sugarskull.jpeg);
    background-size: cover;
    background-position: 50% 70%;
    background-attachment: fixed;
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: right;
    
}

.cool-subtitle {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
}

.cool-subtitle h2 {
    font-size: 55px;
    background: var(--primary-color);
    border-radius: 15%;
    position: fixed right;
}

/* end hero section */

/* begin about me section */
#about-me, #work, #contact-me {
    justify-content: space-between;
    display: inline-flex;
    flex-wrap: wrap;
}
.title-container {
    display: inline-flex;
    padding-right: 0;
    width: 10vw;
    flex: 1 25%;
    margin: 50px auto;

}
.section-title {
    font-size: 48px;
    color: var(--tertiary-color);
    margin: auto;
    height: 100%;
    border-right: 3px solid var(--tertiary-color);
    padding-right: 20px;
    text-align: right;
}
.bio {
    width: 60%;
    flex: 2 75%;
    margin: 50px auto;

}
.bio-text {
    line-height: 1.7;
    color: var(--tertiary-color);
    font-size: 20px;
    margin:0 auto 50px auto;
    text-align: left;
    max-width: 60%;
}

.bio-text a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.55vw;

}

/* End about me section */

/* Begin WORK section */
#work {
    justify-content: space-between;
    display: inline-flex;
    flex-wrap: wrap;
}
.projects {
    width: 60%;
    margin: 50px auto;
    flex: 2 75%;

}

.run-buddy {
    height: 35vw;
    width: 65vw;
    flex: 2 60%;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    margin: 15px auto;
}

.run-buddy a img {
    max-width: 100%;
    opacity: 0.75;
    border: 5px solid var(--tertiary-color);
}

.run-buddy a img:hover {
    color: var(--secondary-color);
    opacity: 1;
}

.double-panel {
    display: inline-flex;
    flex: wrap;
    justify-content: space-between;
    flex: 1 25%;
}
.work-square{
    width: 400px;
    height: 400px;
    position: relative;
    display: inline-flex;
    flex: 1 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px;

}
.work-square img {
    max-width: 100%;
    opacity: 0.75;
    border: 5px solid var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-square img:hover {
    color: var(--secondary-color);
    opacity: 1;
}

.image-title {
    text-align: center;
    background-color: var(--secondary-color);
    width: 7vw;
    height:7vw;
    display: block;
    position: absolute;
    top: 50%;
    
}
@media screen and (max-width: 980px) {
    header { 
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 { 
        width: 100%;
        text-align: center;
    }

    header nav ul { 
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li {
        font-size: 20px;
    }
    .cool-subtitle h2{
        width: 50%;
    }
    .cool-subtitle h2 {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    @media screen and (max-width: 575px) {
        .section-title {
            width: 95%;
        }
       
        .bio-text {
            width: 100%;
        }
    }
